[Unit]
Description=qBittorrent Daemon Service
After=network.target

[Service]
User=QB_USEERS_HERE
ExecStart={{QB_PATH_NAME}} --webui-port={{QB_WEB_PORT}}

[Install]
WantedBy=multi-user.target
